# Functions

Today we will be covering functions.

Students typically find loops the most challenging topic in intro programming.

Students typically find functions the *second*-most challenging topic in intro programming.

You will continue to use loops and functions in this class, and for the rest of your career.

Also functions are fun!

## 'Unpacking' a container

Let's cover this topic of "unpacking containers" because we will need it for understanding functions.

Remember a container is an object that holds other objects within it. Some examples are lists, tuples, and strings. (Strings are containers of strings.)

We can "unpack" a container like this:

In [ ]:
# here is an example of unpacking a tuple

In [ ]:
# here is an example of unpacking a string

**Student Task**

Create a List of 3 colors.

UNPACK the List and assign each color to a new variable using one line of code.

Print out each color using the new variable names.

In [ ]:
# your code here

# Functions

## Simplest Function

Here is a simple example of how to MAKE a function:

<img src="https://lh3.googleusercontent.com/pw/AP1GczOZWNF-3dKIRW9xqd5dBpL5ZDZU1oLWuO52HAu2_2EMmvqCqc_trJsTz6_bB6n40jhuEPO956l3pqnvK9jJR5M9ejffflWlZRYRCi6FCcnpQvF-dF60cJvwgW5A0a3BeAV2NPNLRVF2Jif4CCgKi3Ys=w553-h82-s-no-gm?authuser=0" width="600">

## INDENTATION IS IMPORTANT!!!
## Everything that is indented is part of the function definition
## Don't forget the def. Don't forget the (). Don't forget the colon!

Note that when we run the cell above, nothing happens!!

We have to USE the function in order to get it to do something.

### When we MAKE a function we say that we are DEFINING the function.

### When we USE a function we say that we are CALLING the function.

We call a function by its name:

<img src="https://lh3.googleusercontent.com/pw/AP1GczPpSP-JNKfWqNnWopakaoHyg_5ToKGtSbDmrHUjmX1I8iNfEKdh6j9Dm1hHeI8f9cy22gD_DYwxIU-Fu8qecARsSsBCpXjU34hSWt_Ucpxc_pY2FtyxAgyjm4umE2a_dMvo6IoXD1cudzIbwhrQnKik=w211-h39-s-no-gm?authuser=0" width="300">

In [ ]:
# Define the function

In [ ]:
# Call the function

### Common mistake:
<img src="https://lh3.googleusercontent.com/pw/AP1GczO3nS_zFe-FmfOP2v-S3tb3g0nUH6uBQByrEI5Ym8yqJpz_mrZMWq3nCtYq6ryIdn1gVh-nxUEENfL2TVmFRIfAPO0_O7_MwqPn2MPuWLX5PcntbkeOqiM2Y0o3hj8II3fhDLz1rBIVwB8Dr8VFCtu8=w954-h823-s-no-gm?authuser=0" width="500">

In [ ]:
# define the function

# call the function

**Student Task**

DEFINE a user function named `winter_break()` that when called, will print out a statement that describes what you are most looking foward to about winter break.

Then, CALL the user function.

In [ ]:
# your code here

## Functions with parameters

This is how you DEFINE a function with parameters:

In [ ]:
# Define the function

<img src="https://lh3.googleusercontent.com/pw/AP1GczM-_vsJz4m_ZDgL1C7ZqA3UJNqHJVcguHbT9Dt0MyF7lIFBv8On9FPaTVAKvSKPt1TrFh45ZCSsG9cqsEstBwoUuhI9zg2F2lCfCAqWJl_btbnLuJOiTTQ6tDonCaousaBeDAV1d78C-bqnVWqIKGO6=w628-h64-s-no-gm?authuser=0" width="600">

The stuff inside the parentheses () of the function name are the **parameters**

You can have as many parameters as you like.

Use function **arguments** to assign values to the parameters when you CALL the function:

<img src="https://lh3.googleusercontent.com/pw/AP1GczOJjtODZJ5ik6B4tlsj6M8UOm7EFHfpCKETtlA43IlgFj89gklKBmWLC1Jdf3fFVKvMLJRG9SysowknWjLsbegRqKIcZTDg4_O6GeAaNO2Q97Gz5dzwkx8k-GeZ2IzrYIEYHAjXAV25LV_bzxHcvCx3=w547-h45-s-no-gm?authuser=0" width="600">

The first **argument** 'Bonnie' is assigned to the first **parameter** called `name`. (So `name = 'Bonnie'`)

The second **argument** 'Physics' is assigned to the second **parameter** called `major`. (So `major = 'Physics'`)

The third **argument** 'ENGR 225' is assigned to the third **parameter** called `course`. (So `course = 'ENGR 225'`)

Here is another example. This function uses a loop.

**Student Task**

DEFINE a user function named `combine()` that concatenates two strings and prints the result. Name the first parameter 'word1' and name the second parameter 'word2'.

CALL the user function by using 'water' as the argument associated with the word1 parameter, and 'melon' as the argument associated with the word2 parameter.

In [ ]:
# your code here

### Positional arguments

So far we have assigned our arguments to our parameters by putting them in the same position, so they are called *positional arguments*.

What if you can't remember the order of the parameters?

We can use the `help()` function to remind ourselves:

### Keyword arguments

If we remember the parameter names, and we just forget their order, we can also use *keyword arguments*:

Even though the arguments are out of order when we call the function, the function knows which parameters to assign the arguments to.

In [ ]:
def convert_height(feet,inches):
    '''
    feet = height in feet
    inches = height in inches
    '''
    # Convert feet to inches and add to the total inches
    total_inches = feet * 12 + inches
    # Convert total inches to meters (1 inch = 0.0254 meters)
    meters = total_inches * 0.0254
    print(f'The height in meters is {meters}')

**Student Task**

Use keyword arguments to call the function above. Test out switching the order of the arguments (but make sure they are still matched with the correct parameter name).

In [ ]:
# your code here

### Docstrings

What if we can't remember what each parameter means?

We can create a **docstring** using triple quotes around notes at the top of the function body which will show up when we use the help function:

In [ ]:
# Define the function
def info(name, major, course): #stuff inside parentheses are "parameters"
    '''
    name = your name
    major = your major at Cal Poly Humboldt
    course = the class you are in right now
    '''
    print(f'My name is {name}, my major is {major}, and I am in {course}')

In [ ]:
help(info)

**Student Task**

Add a docstring to the function below using tripple quotes:

''' 

docstring 

'''

In [ ]:
def fahrenheit_to_celsius_or_kelvin(fahrenheit_temp, celsius_or_kelvin):
    celsius = (fahrenheit_temp - 32) * 5/9
    if (celsius_or_kelvin == 'Kelvin') or (celsius_or_kelvin == 'kelvin'):
        new_temp = celsius + 273
    else:
        new_temp = celsius
    print(new_temp)

NOTE: The docstring must be the very first indented line in your function in order for it to show up when you use the help function!

**Student Task**

Use help function to check the doc string you just wrote

In [1]:
#your code here

## Function Namespace

Let's open a toolbar that allows us to see our function namespace.

Go to View > Debugger Panel

Then click on the little bug symbol in the upper right hand corner of the notebook (next to the kernel button)

A panel should appear on the right hand side and one of the segments will be labeled "Variables"

Click on the stacked view instead of the blocked view.

<img src="debugger_panel.png" align="left"/>

<br clear="left"/> <!-- Clears the float after this image -->

Let's see what happens when we assign some new variables...

Each variable is listed in the variables section.

(Ignore the "special variables" and "function variables". They won't tell you what you would expect. We will cover debugger more next week)

What if we define and call a function? How will our namespace look?

Why isn't `num1`, `num2` or `y` in my namespace?????

If we try to call them, they don't exist!

These variables are all **local** variables and are only available inside the function!


We can print out the local variables in the function like this:

The variables listed in the right hand panel are our **global** variables. If we want to force a variable inside our function to become a global variable we can do this:

#### USUALLY WANT TO AVOID GLOBAL ASSIGNMENTS INSIDE YOUR FUNCTION

Instead of assigning global variables inside a function, you should probably use a **return** statement!!

## Functions with Return Statement

Here I am setting z = to what the function returns.



<img src="https://lh3.googleusercontent.com/pw/AP1GczOemfztAqk0jrInmG8g4w2jcjaX1va4Vsg7Xq5vixnLWqh4ohVkvkMejZS7CL25I4TdSH2NcAGN5v-sLy3IcrtjHba765NMASWxEeyBFU0VsjXiK4Fx5lZkQuP8R79A12uci3tUUFQ7JDEb3Md5HIcO=w534-h102-s-no-gm?authuser=0" width="600">

<img src="https://lh3.googleusercontent.com/pw/AP1GczMJsw4xOM_Hx5q2ey8uNHmNnLOfWAiEHgftQk2MSPj2obIc-vDCK0YLvDNYujVEmFOfCB78MeQo-sYbt-xZExhf3pVaXADMzuBKKYKgAKsEG6d9tRf0BAShlSLD8_f-gDWCOQl8oTxVsc4BXcwax6k2=w498-h45-s-no-gm?authuser=0" width="600">

Where var = result

**Student Task**

DEFINE a user function that multiplies two numbers together and returns the result.

CALL the function and print the result.

In [ ]:
# your code here

### Functions with MULTIPLE Results to Return

Suppose we wanted to return multiple results: